/* build your layout */
body {
  display: block;
  height: 100vh;
  width: 80vw;
  margin: 0px 10vw;
  background-image: url("images/background.jpg");
  background-size: 100%;
}
.row {
  display: flex;
  height: 50%;
  width: 100%;
}
.box {
  height: 100%;
  width: 20%;
}

/* control your content */
.center-bottom {
  justify-content: center;
  align-items: flex-end;
  display: flex;
}
.ceter-top {
  justify-content: center;
  align-items: flex-start;
  display: flex;
}
img {
  max-height: 99%;
  width: 99%;
  cursor: pointer;
}

.fade {
  opacity: 0.4;
}

/* User Experience */

.press-effect:active {
  transform: scale(0.95);
}

/* colors filters to enhance intuitive UX */
.green {
  filter: hue-rotate(250deg);
}
.red {
  filter: hue-rotate(120deg);
}
